.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.column-custom_type .alert {
    margin-bottom: 0;
    display: inline-block;
}

/* Ajuster la largeur de la colonne "Type" en fonction du contenu */
.column-custom_type {
    width: 200px;
}

.editor-block-list-item-embed/animoto {
    display: none;
}